* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

#wrapper {
  margin: 1rem;
  display: grid;
}

html {
  font-family: Satoshi-Black, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.nav {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.786);
  color: white;
  border-radius: 10px;
}

footer a:hover {
  background-color: rgba(0, 0, 0, 0.786);
  color: white;
  border-radius: 10px;
  width: 40%;
}

p {
  font-family: Satoshi-Black, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50px 0px 00px 0px;
}

ul {
  position: relative;
  margin: auto;
  padding: 0;
  background-color: #ececec;
  font-family: Satoshi-Black, sans-serif;
}

.heading {
  display: flex;
  background-color: #ececec;
}

.intro-header {
  font-family: Satoshi-Bold, sans-serif;
  font-weight: bold;
  font-size: 90px;
}

.logo {
  width: 6em;
}

img {
  background-color: #ececec;
  border: none;
}

p {
  display: flex;
  font-family: Satoshi-Black, sans-serif;
}

li {
  float: left;
  list-style-type: none;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

button {
  border: none;
  color: black;
  background-color: #d9d9d9d9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 40px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: Satoshi-Black, sans-serif;
}

.intro {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding: 200px;
  gap: 70px;
}

.grid-item {
  background-color: #ececec;
  padding: 250px;
  font-size: 14px;
  text-align: center;
}

.grid-item2 {
  background-color: white;
  padding: 10px;
  width: 600px;
  font-size: large;
}

.shop {
  border: none;
  color: white;
  background-color: #0b25b7;
  padding: 15px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.learn {
  border: solid #0b25b7;
  color: #0b25b7;
  background-color: white;
  padding: 15px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.catalogue {
  display: grid;
  gap: 0.05cm;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 2cm;
  margin-left: 10px;
}

.description {
  display: grid;
  width: 200px;
  padding: 5px 3px;
  margin-left: 5cm;
  padding: 18;
}
.article1 {
  background-color: #ececec;
  width: 350px;
  border-radius: 50px 0px 50px 0px;
}
.article2 {
  background-color: #ececec;
  width: 350px;
  border-radius: 12px;
  border-radius: 50px 0px 50px 0px;
}
.article3 {
  background-color: #ececec;
  width: 350px;
  border-radius: 12px;
  border-radius: 50px 0px 50px 0px;
}

.circle {
  color: black;
  position: relative;
  border-radius: 10%;
  display: block;
  width: 10%;
  border: none;
  background-color: #ececec;
  padding: 0px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.circle:hover {
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 10px;
  padding-top: 3px;
}

.trending {
  display: grid;
  gap: 0.5cm;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 100px;
  padding-bottom: 2cm;
}

.trending_title {
  margin-left: 200px;
}

.entry1 {
  background-color: #ececec;
  width: 350px;
  border-radius: 50px 0px 50px 0px;
  padding: 18;
}

.entry2 {
  background-color: #ececec;
  width: 350px;
  border-radius: 50px 0px 50px 0px;
  padding: 18;
}

.blackcircles {
  letter-spacing: 10px;
  padding-left: 0.5cm;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3cm;
  gap: none;
  background-color: #ececec;
  padding-top: 2cm;
  max-width: 100%;
}

.cvr {
  display: flex;
}

footer a {
  padding-top: 1cm;
  padding-left: 1cm;
}

footer p {
  padding-left: 0cm;
}

footer h3 {
  padding-left: none;
}

footer h1 {
  padding-left: 1cm;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.horizontal-logo {
  width: 35%;
}

.svg {
  word-spacing: 15px;
  justify-content: right;
}

path {
  letter-spacing: 12px;
}

.copyright {
  display: grid;
  font-weight: bold;
  column-gap: 15cm;
  padding-right: 20px;
}

.upperfooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lowerfooter {
  display: grid;
}

@media (width > 15em) {
  body {
    grid-template-columns: repeat(1fr 1fr);
  }

  main {
    grid-template-columns: repeat(1fr 1fr);
  }
}
